<div class="mt-4 d-flex justify-content-center">
  <button type="button" class="btn btn-primary" (click)=enableRequestItemsContainer()>
    Request new items
  </button>
</div>

<div class="mt-3">
  <h2>Pending Requests</h2>
</div>
<mat-divider class="mt-3"></mat-divider>
<div class="row categories-list">
  <div class="col-md-3" *ngFor='let consumerItem of pendingConsumerItems'>
    <div class="card drop-shadow" [style.border-left-color]='colorCode'>
      <div class="card-body">
        <div class="clearfix row">
          <div class="float-left col">
            <div class="badge badge-primary"> Count: {{ consumerItem.count }} </div>
          </div>
          <div class="flot-right col">
            <div class="badge badge-primary"> Status: {{ consumerItem.status }} </div>
          </div>
        </div>
        <div class="todo-content">
          <h3 class="mt-2">Total Price: {{ consumerItem.totalPrice | currency:'GBP'}}</h3>
          <strong class="text-secondary">Name: {{ consumerItem.item.name }}</strong><br>
          <strong class="text-secondary">Description: {{ consumerItem.item.description }} </strong><br>
          <strong class="text-secondary">Item Price: {{ consumerItem.item.price | currency:'GBP'}} </strong><br>
        </div>
        <div style="float: right;">
          <button mat-icon-button color="accent" (click)=deleteConsumerItem(consumerItem.id)>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="mt-3">
  <h2>Approved Requests</h2>
</div>
<mat-divider class="mt-3"></mat-divider>
<div class="row categories-list">
  <div class="col-md-3" *ngFor='let consumerItem of approvedConsumerItems'>
    <div class="card drop-shadow" [style.border-left-color]='colorCode'>
      <div class="card-body">
        <div class="clearfix row">
          <div class="float-left col">
            <div class="badge badge-primary"> Count: {{ consumerItem.count }} </div>
          </div>
          <div class="flot-right col">
            <div class="badge badge-primary"> {{ consumerItem.status }} </div>
          </div>
        </div>
        <div class="todo-content">
          <h3 class="mt-2">Total Price: {{ consumerItem.totalPrice | currency:'GBP'}}</h3>
          <strong class="text-secondary">Name: {{ consumerItem.item.name }}</strong><br>
          <strong class="text-secondary">Description: {{ consumerItem.item.description }} </strong><br>
          <strong class="text-secondary">Item Price: {{ consumerItem.item.price | currency:'GBP'}} </strong><br>
        </div>
        <div style="float: right;">
          <button mat-raised-button color="primary"
            (click)="consumerItemReceivedConfirmation(consumerItem.id, consumerItem.stockId)">Received</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <h2>Received Items</h2>
</div>
<mat-divider class="mt-3"></mat-divider>
<div class="row categories-list">
  <div class="col-md-3" *ngFor='let consumerItem of receivedConsumerItems'>
    <div class="card drop-shadow" [style.border-left-color]='colorCode'>
      <div class="card-body">
        <div class="clearfix row">
          <div class="float-left col">
            <div class="badge badge-primary"> Count: {{ consumerItem.count }} </div>
          </div>
          <div class="flot-right col">
            <div class="badge badge-primary"> {{ consumerItem.status }} </div>
          </div>
        </div>
        <div class="todo-content">
          <h3 class="mt-2">Total Price: {{ consumerItem.totalPrice | currency:'GBP'}}</h3>
          <strong class="text-secondary">Name: {{ consumerItem.item.name }}</strong><br>
          <strong class="text-secondary">Description: {{ consumerItem.item.description }} </strong><br>
          <strong class="text-secondary">Item Price: {{ consumerItem.item.price | currency:'GBP'}} </strong><br>
        </div>
        <div style="float: right;">
          <button mat-icon-button color="primary" (click)="generateInvoice(consumerItem.id)" title="download invoice">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <h2>Returned Items</h2>
</div>
<mat-divider class="mt-3"></mat-divider>
<div class="row categories-list">
  <div class="col-md-3" *ngFor='let consumerItem of returnedConsumerItems'>
    <div class="card drop-shadow" [style.border-left-color]='colorCode'>
      <div class="card-body">
        <div class="clearfix row">
          <div class="float-left col">
            <div class="badge badge-primary"> Count: {{ consumerItem.count }} </div>
          </div>
          <div class="flot-right col">
            <div class="badge badge-primary"> {{ consumerItem.status }} </div>
          </div>
        </div>
        <div class="todo-content">
          <h3 class="mt-2">Total Price: {{ consumerItem.totalPrice | currency:'GBP'}}</h3>
          <strong class="text-secondary">Name: {{ consumerItem.item.name }}</strong><br>
          <strong class="text-secondary">Description: {{ consumerItem.item.description }} </strong><br>
          <strong class="text-secondary">Item Price: {{ consumerItem.item.price | currency:'GBP'}} </strong><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':isShowRequestItemsContainer}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div [formGroup]="consumerItemForm" class="card drop-shadow">
        <div class="m-4 justify-content-center d-flex flex-column">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Item name</mat-label>
            <mat-select formControlName="itemId">
              <mat-option *ngFor="let item of items" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Count</mat-label>
            <input matInput formControlName="count" type="number" (change)="updateTotalPrice()" required>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Total price</mat-label>
            <input matInput formControlName="totalPrice" type="number" class="example-right-align" placeholder="0">
            <span matTextPrefix>£&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button mat-raised-button color="warn" style="margin-left: 5px;"
              (click)=disableRequestItemsContainer()>Close</button>
            <button mat-raised-button color="primary" style="margin-left: 5px;"
              (click)="addConsumerItem()">Request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':isShowItemReceivedConfirmationContainer}">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      Did you receive damage items and return all ?
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="consumerItemsReceived()">
          No
        </button>
        <button mat-raised-button color="warn" style="margin-left: 5px;" (click)="consumerItemsReceivedDamaged()">
          Yes
        </button>
      </div>
    </div>
  </div>