<div class="mt-4 d-flex justify-content-center">
  <button type="button" class="btn btn-primary" (click)=enableAddItemContainer()>
    Add new item
  </button>
</div>

<div class="row categories-list">
  <div class="col-md-3" *ngFor='let item of items'>
    <div class="card drop-shadow" [style.border-left-color]='colorCode'>
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <div class="badge badge-primary"> Price: {{ item.price | currency:'GBP' }} </div>
          </div>
        </div>

        <div class="todo-content">
          <h3 [style.color]='item.colorCode'>Name: {{ item.name }}</h3>
          <strong class="text-secondary">Description: {{ item.description }} </strong><br>
          <strong class="text-secondary">Expiry Date: {{ item.expiryDate | date: 'dd/MM/yyyy' }}  </strong>
        </div>        
        <div style="float: right;">
          <button mat-icon-button color="primary" (click)=enableEditItemContainer(item.id) data-toggle="modal">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)=deleteItem(item.id) >
            <mat-icon>delete</mat-icon>
          </button>      
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':isShowAddItemContainer}">
  <div class="modal-dialog">
      <div class="modal-content">
        <div [formGroup]="itemForm" class="card drop-shadow">
          <div class="m-4 justify-content-center d-flex flex-column">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Name</mat-label> 
              <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Image URL</mat-label>
              <input matInput formControlName="imageUrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" type="number" class="example-right-align" placeholder="0">
              <span matTextPrefix>£&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Expiry Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="expiryDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>          
            <div class="d-flex justify-content-end">
              <button mat-raised-button color="warn" style="margin-left: 5px;" (click)=disableAddItemContainer()>Close</button>
              <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="addItem()">Add</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="modal" [ngStyle]="{'display':isShowEditItemContainer}">
  <div class="modal-dialog">
      <div class="modal-content">
        <div [formGroup]="updateItemForm" class="card drop-shadow">
          <div class="m-4 justify-content-center d-flex flex-column">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Name</mat-label> 
              <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Image URL</mat-label>
              <input matInput formControlName="imageUrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" type="number" class="example-right-align" placeholder="0">
              <span matTextPrefix>£&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Expiry Date</mat-label>
              <input matInput [matDatepicker]="updatepicker" formControlName="expiryDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="updatepicker"></mat-datepicker-toggle>
              <mat-datepicker #updatepicker></mat-datepicker>
            </mat-form-field>    
            <div class="d-flex justify-content-end">
              <button mat-raised-button color="warn" style="margin-left: 5px;" (click)=disableEditItemContainer()>Close</button>
              <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="updateItem()">Update</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

