<div class="m-4 d-flex justify-content-center">
    <div [formGroup]="rackForm" class="row rounded-3 border border-secondary border-2 p-3" style="max-width: 400px;">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Rack Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <section *ngIf="damagedRackNotExist">
            <mat-checkbox class="m-2" formControlName="damagedRack">Use this rack for damaged items</mat-checkbox>
        </section>
        <button type="button" class="btn btn-primary" (click)="addRack()">
            Add new rack
        </button>
    </div>
</div>


<div class="mt-3">
    <h2>Rack Details</h2>
</div>
<div style="background-color: #FCC8D1;" class="row rounded-3 border border-secondary border-2 p-3 m-3"
    *ngFor="let rack of racks">
    <div class="col-5 row d-flex align-items-center">
        <p>Name: {{rack.name}} <br>
            <span style="color: red" *ngIf="rack.damagedRack">(DAMAGED RACK)</span>
        </p>
    </div>
    <div class="col-5">
        <div *ngFor="let inventory of rack.inventories">
            <strong>Item Name: {{inventory.item.name}}</strong><br>
            Count: {{inventory.count}} <br>
            Status: {{inventory.status}}
            <mat-divider class="mt-3 mb-3"></mat-divider>
        </div>
    </div>
    <div class="col-2  d-flex align-items-center">
        <button type="button" class="btn btn-danger" (click)="deleteRack(rack.id)">
            Delete rack
        </button>
    </div>
</div>